.light_body{
    background-color: #000;
}
#off_image{
    display: none;
}
#alert_button {
    font-size: 11px;
    border: 1px solid;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}